<a href="https://colab.research.google.com/github/YesInAJiffy/PythonForKids/blob/main/Chapter_3_ControlStatements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IF ELSE CONTROL STRUCTURE

In [10]:
x = 15
if x > 6 :
        print("x is greater than 6")
        print(type(x))

x is greater than 6
<class 'int'>

**IF ELSE**

In [13]:
x = 5
if x > 6 :
        print("x is greater than 6")
        print(type(x))
else :
        print("x is lesser than 6")

x is lesser than 6

**IF ELIF ELSE**

In [17]:
x = 0
if x > 6 :
        print("x is greater than 6")
        print(type(x))
elif x > 3 :
        print("x is greater than 3")
elif x > 1 :
        print("x is greate than 1")
else :
        print("Nothing matched")

Nothing matched

**FOR LOOP**

In [23]:
fruits = ["apple", "banana", "orange"]
i = 0
for x in fruits:
  print(i)
  i = i + 1
  print(x)
  print ("**********")
  print(f"{x} fruit and {i}th loop")

0
apple
**********
apple fruit and 1th loop
1
banana
**********
banana fruit and 2th loop
2
orange
**********
orange fruit and 3th loop

**WHILE LOOP**

In [24]:
count = 0
while count < 5:
  print (count)
  count +=1 #count = count + 1

0
1
2
3
4

**LOOP STATEMENTS**

In [27]:
#BREAK
for x in range(5, 10) :
  if x == 7:
    break;
  print (x)

5
6

In [28]:
#CONTINUE
for x in range(10) :
  if x==5:
    continue
  print(x)

0
1
2
3
4
6
7
8
9

In [30]:
# PASS
for x in range (10) :
  pass

**TRY CATCH**

In [33]:
try:
  result = 10 / 0
except ZeroDivisionError :
  print("Cannot divide by zero")
except Exception :
  print("Any other exception happened")

print("Hi")

Cannot divide by zero
Hi

In [34]:
try:
  result = 10 / 0
except ZeroDivisionError :
  print("Cannot divide by zero")
except Exception :
  print("Any other exception happened")
finally:
  print("You understood exceptions")
print("Hi")

Cannot divide by zero
You understood exceptions
Hi

In [35]:
try:
  result = 10 / 10
except ZeroDivisionError :
  print("Cannot divide by zero")
except Exception :
  print("Any other exception happened")
finally:
  print("You understood exceptions")
print("Hi")

You understood exceptions
Hi

**COMPREHENSIONS**

In [37]:
squares = [x**2 for x in range (5)]
print(squares)

[0, 1, 4, 9, 16]

In [39]:
mylist = []
for x in range(5):
  mylist.append(x**2)
  print (x**2)

print(mylist)

0
1
4
9
16
[0, 1, 4, 9, 16]

In [40]:
squares = [x**2 for x in range (5) if x % 2 == 0]
print(squares) #0, 2, 4

[0, 4, 16]

In [42]:
print(14 % 9) #Modulus operator

5

In [43]:
# COMPREHENSIONS IN DICTIONARY
squares_dict = {x : x **2 for x in range (5)}
print(squares_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [44]:
# COMPREHENSIONS IN DICTIONARY
squares_dict = {x : x **2 for x in range (5) if x%3 == 0}
print(squares_dict)

{0: 0, 3: 9}