<a href="https://colab.research.google.com/github/YesInAJiffy/PythonForKids/blob/main/Chapter_2_Variables_and_Datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**VARIABLES**

In [ ]:
#Integer
age = 25

In [ ]:
#Float
height = 5.9

In [ ]:
#String
name = "Alice"

In [ ]:
#Boolean
is_student = True

**Expressions**

In [ ]:
5+3

8

**Base Functions**

In [ ]:
print("Print this text")

Print this text

In [ ]:
type(age)

int

* Python is a dynamically-typed language, which means that the interpreter can understand the type of a variable during runtime.

In [ ]:
surname = "Donald"

full = name + surname

print(full)

AliceDonald

In [ ]:
full = name + age
#Incompatible types

TypeError: ignored

**ADVANCED DATA TYPES**
* LIST
* DICTIONARY

In [2]:
''' A list is a mutable, ordered sequence of elements. Lists can contain elements of different data types,
and you can change, add, or remove elements from a list after it has been created. '''

my_list = [1, 2, 3, 'hello', True]

In [3]:
# Accessing elements by index
print(my_list[0])  # Output: 1

# Slicing
print(my_list[1:4])  # Output: [2, 3, 'hello']

# Appending an element
my_list.append(4)

# Extending with another list
my_list.extend([5, 6, 7])

# Modifying an element
my_list[3] = 'world'

1
[2, 3, 'hello']

In [15]:
# Another function Range
my_list = list(range(5))  # Converts the range to a list [0, 1, 2, 3, 4]
print(my_list)
my_secondlist = list(range(3,10))
print (my_secondlist)

[0, 1, 2, 3, 4]
[3, 4, 5, 6, 7, 8, 9]

In [4]:
''' dictionary is a built-in data type that allows you to store a collection of key-value pairs.

Dictionaries are unordered, mutable, and versatile for organizing and retrieving data.
Each key in a dictionary must be unique, and it is associated with a specific value.'''

# Creating a dictionary
person = {
    'name': 'Alice',
    'age': 30,
    'is_student': False
}

# Accessing values using keys
print(person['name'])        # Output: Alice
print(person['age'])         # Output: 30
print(person['is_student'])  # Output: False

Alice
30
False

In [7]:
# Adding a new key-value pair
person['city'] = 'Wonderland'

print(person)
print(person["age"])

{'name': 'Alice', 'age': 30, 'is_student': False, 'city': 'Wonderland'}
30

In [8]:
person['city'] = 'Paris'

In [11]:
person = {
    'name': 'Alice',
    'age': 30,
    'is_student': False,
    'subject': "Maths",
    'subject' : "Python Programming"
}

print(person)

{'name': 'Alice', 'age': 30, 'is_student': False, 'subject': 'Python Programming'}