<a href="https://colab.research.google.com/github/YesInAJiffy/PythonForKids/blob/main/Lesson%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**VARIABLES**

In [2]:
x = 10
name ="John Doe"
isAvailable = True
pi = 3.14

**BASIC FUNCTIONS**
* print
* type

In [4]:
print(x)
print(name)
print (pi)
print(isAvailable)

10
John Doe
3.14
True

In [7]:
print(type(x))
print(type(name))
print(type(pi))
print(type(isAvailable))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

**LIST DATA TYPE**

In [8]:
my_list = [1,2,3,4, "apple", "oranges"]

In [9]:
print(type(my_list))

<class 'list'>

In [10]:
firstelement = my_list[0]
print(firstelement)

1

In [11]:
thirdelement = my_list[2]
print(thirdelement)

3

In [12]:
lastelemement = my_list[-1]
print(lastelemement)

oranges

In [13]:
secondlastelemement = my_list[-2]
print(secondlastelemement)

apple

In [15]:
#Slicing

''' We are learning data types
starting with primitive and gratuating with complex '''

subset = my_list[3:4]
print(subset)

[4]

In [20]:
# Appending Elements
my_list.append("kiwi")
print(my_list)

[1, 2, 3, 4, 'apple', 'oranges', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']

In [21]:
#Updating Element
my_list[5] = "lemon"
print(my_list)

[1, 2, 3, 4, 'apple', 'lemon', 'kiwi', 'kiwi', 'kiwi', 'kiwi', 'kiwi']

In [22]:
#Length
length = len(my_list)
print(length)

11

**DICTIONARY**

In [24]:
my_dict = {"name": "Sam", "age" : 12, "city": "New York"}
print(my_dict)

{'name': 'Sam', 'age': 12, 'city': 'New York'}

In [25]:
my_dict = {"name": "Sam", "age" : 12, "city": "New York", "city" :"toronto"}
print(my_dict)

{'name': 'Sam', 'age': 12, 'city': 'toronto'}

In [26]:
# Access values
print(my_dict["age"])

12

In [27]:
#Updating values
my_dict["name"] = "John"
print(my_dict)

{'name': 'John', 'age': 12, 'city': 'toronto'}

In [29]:
#adding new key value
my_dict["occupation"] = "student"
print(my_dict)

{'name': 'John', 'age': 12, 'city': 'toronto', 'occupation': 'student'}